<div class="container">
  <div class="header">

    <!--MAIN AREA-->
    <div class="header__main">
      <div class="header__left">
        <a routerLink="/">
          <img src="assets/notflix.png" alt="logo" style="width: 50px;">
        </a>
        <ul>
          <li class="active"><a routerLink="">Home</a></li>
          <li><a routerLink="movies">Movies</a></li>
          <li><a routerLink="#">Genres</a></li>
          <li><a routerLink="add-movie">Add Movie</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li><a href="#">Account</a></li>
          <li>
        </ul>
      </div>
    </div>  <!--HEADER MAIN ENDS HERE-->

  </div>
  <!-- <app-movies></app-movies> -->
<router-outlet></router-outlet>
</div>
