.container {
    display: flex;
    flex-direction: column;
}
  .header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
  }

  
  .header__banner {
    background-position: top center;
    background-size: cover;
    width:100%;
    position: absolute;
    height: 80vh;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  h2 {
    font-size: 6rem;
    margin-left: 3rem;
    margin-bottom: 6rem;
    margin-top: 8rem;
    color: lightgray;
  }
  
  .header__buttons {
    display: flex;
  }
  button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    padding: 15px 40px; 
  border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 50px;
    cursor: pointer;
  }

  mat-icon {
    transform: scale(1.25);
  }
  
  
  button.play-button {

    font-weight: 600;
    font-size: 24px;
  
}
  mat-icon {
    transform: scale(2.5);
  }
  
  
  button.more-button {
    background-color: rgba(112,113,109,0.7);
  
  
    color: lightgray;
  }
  
  span {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  
  
    /*BANNER ENDS*/
