<div *ngIf="movie">
    <iframe class="card-img-top" width="560" height="315" [src]="movie.videoUrl" title="YouTube video player"
            frameborder="1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <h2>{{movie.name | uppercase}} Details</h2>
    <div><span>id: </span>{{movie.id}}</div>
    <div>
      <label for="movie-name">Movie name: </label>
      <input id="movie-name" [(ngModel)]="movie.name" placeholder="name">
    </div>
    <button (click)="goBack()">go back</button>
  </div>